
<div class="card col-md-12" >
  <div class="card-body">
    <h5 class="card-title">Les tâches</h5>
    <h6 class="card-subtitle mb-2 text-muted">Liste</h6>
   <table class="table table-striped">
    <thead>
      <tr>
     <th>Libelle</th>
      <th>Code</th>
      <th>Animal</th>
      <th>User</th>
      <th>Date debut</th>
      <th>Date fin</th>
      <th>Statut tache</th>
      <th>Type tache</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
       <% @taches.each do |tach| %>
      <tr>
        <td><%= tach.libelle %></td>
        <td><%= tach.code %></td>
        <td><%= tach.animal.nom %> (<%= tach.animal.code %>)</td>
        <td><%= tach.user.prenom %> <%= tach.user.nom %> (<%= tach.user.poste.libelle %>)</td>
        <td><%= tach.date_debut %></td>
        <td><%= tach.date_fin %></td>
        <td><%= tach.statut_tache.libelle %></td>
        <td><%= tach.type_tache.libelle %></td>
        <td><%= link_to 'Voir', tach %></td>
        <td><%= link_to 'Editer', edit_tach_path(tach) %></td>
        <td><%= link_to 'Supprimer', tach, method: :delete, data: { confirm: 'Est vous sur ?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<%= link_to 'Nouvelle Tache', new_tach_path, {class: "btn btn-primary"} %>
  </div>
</div>

