
<div class="card col-md-12" >
  <div class="card-body">
    <h5 class="card-title">Fiche employé</h5>
    <h6 class="card-subtitle mb-2 text-muted">Fiche</h6>
    <%= form_for(@user, url: "/employe/create") do |form| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :prénom %>
      
       <%= form.text_field :prenom, id: :user_prenom, class: "form-control" , readonly: :true%>
    </div>
   <div class="form-group col-md-4">
      <%= form.label :nom %>
    <%= form.text_field :nom, id: :user_nom,  class: "form-control" , readonly: :true%>
    </div>
     <div class="form-group col-md-4">
      <%= form.label :date_de_naissance %>
    <%= form.date_field :date_de_naissance, id: :user_date_de_naissance,  class: "form-control", readonly: :true %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :email %>
      
       <%= form.email_field :email, id: :user_email, class: "form-control", readonly: :true%>
    </div>
  
     <div class="form-group col-md-6">
      <%= form.label :poste %>
    <%= form.text_field :poste_id, id: :user_poste,  class: "form-control",value: @user.poste.libelle, readonly: :true%>
    </div>
  </div>

  
  
  <%#= form.submit 'Créer Employé', class: 'btn btn-primary' %>
<% end %>
<%= link_to "Liste employes", "/employe", {class: 'btn btn-warning'}%> <%= link_to "Editer employé", "/employe/#{@user.id}/edit", {class: 'btn btn-info'}%>
  </div>
</div>

