
<div class="card col-md-12" >
  <div class="card-body">
    <h5 class="card-title">Fiche employé</h5>
    <h6 class="card-subtitle mb-2 text-muted">Fiche</h6>
    <%= form_for(@user, url: "/employe/create") do |form| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :prénom %>
      
       <%= form.text_field :prenom, id: :user_prenom, class: "form-control" , readonly: :true%>
    </div>
   <div class="form-group col-md-4">
      <%= form.label :nom %>
    <%= form.text_field :nom, id: :user_nom,  class: "form-control" , readonly: :true%>
    </div>
     <div class="form-group col-md-4">
      <%= form.label :date_de_naissance %>
    <%= form.date_field :date_de_naissance, id: :user_date_de_naissance,  class: "form-control", readonly: :true %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :email %>
      
       <%= form.email_field :email, id: :user_email, class: "form-control", readonly: :true%>
    </div>
  
     <div class="form-group col-md-6">
      <%= form.label :poste %>
    <%= form.text_field :poste_id, id: :user_poste,  class: "form-control",value: @user.poste.libelle, readonly: :true%>
    </div>
  </div>

  


  
  <%#= form.submit 'Créer Employé', class: 'btn btn-primary' %>
<% end %>
<%= link_to "Liste employes", "/employe", {class: 'btn btn-warning'}%> <%= link_to "Editer employé", "/employe/#{@user.id}/edit", {class: 'btn btn-info'}%>
  </div>
</div>

<div class="card col-md-12" >
  <div class="card-body">
    <h5 class="card-title">Mes tâches</h5>
    <h6 class="card-subtitle mb-2 text-muted">Liste</h6>
   <table class="table table-striped">
    <thead>
      <tr>
     <th>Libelle</th>
      <th>Code</th>
      <th>Animal</th>
      <th>Assignée a</th>
      <th>Date debut</th>
      <th>Date fin</th>
      <th>Statut tache</th>
      <th>Type tache</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
       <% @taches.each do |tach| %>
      <tr>
        <td><%= tach.libelle %></td>
        <td><%= tach.code %></td>
        <td><%= tach.animal.nom %> (<%= tach.animal.code %>)</td>
        <td><%= tach.user.prenom %> <%= tach.user.nom %> (<%= tach.user.poste.libelle %>)</td>
        <td><%= tach.date_debut %></td>
        <td><%= tach.date_fin %></td>
        <td><%= tach.statut_tache.libelle %></td>
        <% if current_user.peut_effectuer_tache(tach) and tach.statut_tache.code != CODE_TACHE_FINI%>
          <td><%= link_to tach.type_tache.libelle.capitalize, "/effectuer_tache/#{tach.id}" ,{class: "btn btn-outline-primary btn-sm"} %></td>
        <%else%>
          <td><%= tach.type_tache.libelle %></td>
        <%end%>
        <td><%= link_to 'Voir', tach %></td>
       
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>
