

<div class="card col-md-12" >
  <div class="card-body">
    <h5 class="card-title">Editer un animal</h5>
    <h6 class="card-subtitle mb-2 text-muted">Formulaire</h6>
   <%= form_with(model: @animal, local: true) do |form| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
   <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :photo %>
    <%= form.file_field :avatar %>
    </div>
  
 
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :nom %>
    <%= form.text_field :nom, id: :animal_nom, class: "form-control" %>
    </div>
  
  <div class="form-group col-md-6">
      <%= form.label :type %>
      
      <%= form.collection_select(:type_animal_id, TypeAnimal.all, :id, :libelle,{}, {:class => 'form-control'}) %>
    </div>
  </div>
  <%= form.submit 'Editer Animal', class: 'btn btn-primary' %> <%= link_to 'Liste animaux', animals_path,  {class: 'btn btn-warning'}%>
<br/>
<br/>
  <div class="card" style="width: 18rem;">
<div style="width: 18rem;">
  <%= image_tag @animal.avatar.url(:thumb) , class:"card-img-top"%>
  </div>
  <div class="card-body">
    <h5 class="card-title">Fiche Animal</h5>
    <h6 class="card-subtitle mb-2 text-muted">Caractéristiques</h6>
    <h5 class="card-title">Nom: <%= @animal.nom %></h5>
    <p class="card-text">Code : <%= @animal.code %></p>
    <p class="card-text">Type : <%= @animal.type_animal.libelle %></p>

  </div>
</div>
  
 
<% end %>

  </div>
</div>

