


<div class="card col-md-12" >
  <div class="card-body">
    <h5 class="card-title">Les animaux</h5>
    <h6 class="card-subtitle mb-2 text-muted">Liste</h6>
   <table class="table table-striped">
    <thead>
      <tr>
      <th>Nom</th>
      <th>Code</th>
      <th>Type animal</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
      <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.nom %></td>
        <td><%= animal.code %></td>
        <td><%= animal.type_animal.libelle %></td>
        <td><%= link_to 'Voir', animal %></td>
        <td><%= link_to 'Editer', edit_animal_path(animal) %></td>
        <td><%= link_to 'Supprimer', animal, method: :delete, data: { confirm: 'Est vous sure ?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<%= link_to 'Nouvel Animal', new_animal_path, {class: "btn btn-primary"} %>
  </div>
</div>

