

<div class="card" style="width: 18rem;">
<div style="width: 18rem;">
  <%= image_tag @animal.avatar.url(:thumb) , class:"card-img-top"%>
  </div>
  <div class="card-body">
    <h5 class="card-title">Fiche Animal</h5>
    <h6 class="card-subtitle mb-2 text-muted">Caractéristiques</h6>
    <h5 class="card-title">Nom: <%= @animal.nom %></h5>
    <p class="card-text">Code : <%= @animal.code %></p>
    <p class="card-text">Type : <%= @animal.type_animal.libelle %></p>

    <%= link_to 'Editer', edit_animal_path(@animal) , {class: "btn btn-primary"} %> |
<%= link_to 'Retour', animals_path, {class: "btn btn-warning"} %>
  </div>
</div>

<div class="card col-md-12" >
  <div class="card-body">
    <h5 class="card-title">Mes tâches</h5>
    <h6 class="card-subtitle mb-2 text-muted">Liste</h6>
   <table class="table table-striped">
    <thead>
      <tr>
     <th>Libelle</th>
      <th>Code</th>
      <th>Animal</th>
      <th>Assignée a</th>
      <th>Date debut</th>
      <th>Date fin</th>
      <th>Statut tache</th>
      <th>Type tache</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
       <% @taches.each do |tach| %>
      <tr>
        <td><%= tach.libelle %></td>
        <td><%= tach.code %></td>
        <td><%= tach.animal.nom %> (<%= tach.animal.code %>)</td>
        <td><%= tach.user.prenom %> <%= tach.user.nom %> (<%= tach.user.poste.libelle %>)</td>
        <td><%= tach.date_debut %></td>
        <td><%= tach.date_fin %></td>
        <td><%= tach.statut_tache.libelle %></td>
        <% if current_user.peut_effectuer_tache(tach) and tach.statut_tache.code != CODE_TACHE_FINI%>
          <td><%= link_to tach.type_tache.libelle.capitalize, "/effectuer_tache/#{tach.id}" ,{class: "btn btn-outline-primary btn-sm"} %></td>
        <%else%>
          <td><%= tach.type_tache.libelle %></td>
        <%end%>
        <td><%= link_to 'Voir', tach %></td>
       
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>