<p id="notice"><%= notice %></p>

<p>
  <strong>Libelle:</strong>
  <%= @type_animal.libelle %>
</p>

<p>
  <strong>Code:</strong>
  <%= @type_animal.code %>
</p>

<%= link_to 'Edit', edit_type_animal_path(@type_animal) %> |
<%= link_to 'Back', type_animals_path %>
