<p id="notice"><%= notice %></p>

<p>
  <strong>Libelle:</strong>
  <%= @type_tach.libelle %>
</p>

<p>
  <strong>Code:</strong>
  <%= @type_tach.code %>
</p>

<%= link_to 'Edit', edit_type_tach_path(@type_tach) %> |
<%= link_to 'Back', type_taches_path %>
